page-sign-in-admin {
    .theContent {
        width          : 100%;
        height         : 100%;
        background     : white;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }

    .scroll-content {
        overflow         : hidden;
        display          : flex;
        flex-direction   : column;
        justify-content  : center;
        background       : url(../../assets/imgs/bg.jpg);
        background-size  : cover;
        background-repeat: no-repeat;
    }

    .decider {
        width        : 100%;
        max-width    : 600px;
        margin       : 0 auto;
        text-align   : center;
        // height    : 100px;
        // border    : 2px solid red;
        // background: whitesmoke;

        p {
            font-weight: bolder;
            text-align : center;
            color      : grey;
        }
    }

    .choice {
        width        : 100%;
        max-width    : 600px;
        min-height   : 50px;
        // border    : 2px solid gold;
        display      : flex;
        flex-wrap    : wrap;
        margin       : 0 auto;
    }

    .choice>div {
        width        : calc(50% - 10px);
        min-width    : 280px;
        max-width    : 380px;
        height       : 50px;
        border       : 2px solid grey;
        margin       : 5px auto;
        border-radius: 10px;
        box-shadow   : 0 5px 10px rgba(0, 0, 0, 0.336);
        transition   : 300ms;
        background   : whitesmoke;
        overflow     : hidden;

    }

    img {
        width    : 40%;
        max-width: 200px;
    }

    ion-input {
        background: whitesmoke;
        margin    : 0;
        height    : 100%;

        ::-webkit-input-placeholder {
            /* Edge */
            color: red;
        }

        :-ms-input-placeholder {
            /* Internet Explorer */
            color: red;
        }

        ::placeholder {
            color: red;
        }
    }
}